* {
  font-size: 100%;
  font-family: Verdana, Tahoma, sans-serif;
  color: #333;

}

html body {
  background-color: #f6ede8;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  text-align: center;
}

.subtitulo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

header .container {
  margin-top: 0;
  margin-bottom: 0;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body header {
  background-color: #d4a78b;
  max-width: 100%;
  padding: 0rem 0.5rem 1rem 0.5rem;
  text-align: center;
}

main {
  background-color: #f6ede8;
  width: auto;
}

footer {
  background-color: #e1c1ae;
}

footer .container {
  margin: 1rem auto 0 auto;
}

nav ul {
  display: flex;
  align-items: center; /* Vertically centers children */
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 1rem auto;
  padding: 0 16px;
  flex-flow: column nowrap;
}

.izquierda {
  align-items: stretch;
}

.horizontal {
  flex-flow: row wrap;
}

.espaciado-entre {
  align-content: stretch;
}

.contador {
  padding-left: 1rem;
}
.item .imagen-promocion {
  width: 80%;
  border-radius: 50px 20px;
  height: auto;
}

.imagen-principal {
  max-width: 800px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.linea-titulo {
  justify-content: center;
}

main div p {
  text-align: justify;
  margin: 1rem;
  line-height: 1.5;
}

.menu-section {
  max-width: 800px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.separador {
  border-bottom: 1px solid #eee;
}

.item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.item-info {
  flex-grow: 1;
}

.monto {
  font-weight: bold;
  color: #5a3825;
  white-space: nowrap;
}

.paper {
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}